<!-- Display the Hero name and his details -->
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for="name">Hero name: </label> 
    <input id="name" [(ngModel)]="hero.name" placeholder="name"> <!-- two-data binding to let the user change the hero name and see it immediatlly -->
</div>

<!-- List of heroes -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"> <!-- To have access to each individual hero and list them all -->
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)"> <!-- it is better for accessibility purposes to use the native <button> element to handle clicks. -->
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
      </button> 
  </li>
</ul>

<!-- Bind the HeroesComponent.selectedHero to the element's hero property -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail> 